.buttonCenter{
    -fx-background-color: #ffb30f;
    -fx-min-width: 10em;
    -fx-min-height: 2.5em;
    -fx-max-width: 11em;
    -fx-max-height: 4em;
    -fx-cursor: hand;
    -fx-background-radius: 20;
}